<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
  <div class="container-fluid" 
    style="background-image: url('https://images.pexels.com/photos/5257002/pexels-photo-5257002.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
                <!-- navbar -->
                <nav class="navbar navbar-expand-lg navbar-light">
                  <a class="navbar-brand mr-5" style="font-weight:bold;font-size:22px;" href="/services">Welcome</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item" style="font-weight: bold;background-color: #ffffff57!important;">
                      <a class="nav-link mr-5 ml-5" href="/services">Home</a>
                      </li>
                      <li class="nav-item" style="font-weight: bold;background-color: #ffffff57!important;">
                      <a class="nav-link" href="/myProfile/{{this_employee.id}}">My Profile</a>
                      </li>
                      <li class="nav-item" style="font-weight: bold;background-color: #ffffff57!important;">
                      <a class="nav-link" href="/create/new_customer">Add a customer</a>
                      </li>
                      <li class="nav-item" style="font-weight: bold;background-color: #ffffff57!important;">
                      <a class="nav-link" href="/allCustomers">All cutostomers</a>
                      </li>
                  </ul>
                  <ul class="navbar-nav ml-5 ">
                      <a class="nav-link" style="font-weight:bold;font-size:18px;" href="/logout">Logout</a>
                  </ul>
                  </div>
              </nav>
    <section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 mt-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create a customer</h2>

              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</body>
</html>